<a href="https://colab.research.google.com/github/DJunichiR/Desain-Analisis-Algoritma/blob/main/Desain_Analisis_Algoritma.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Diketahui
d = 5
t = 4
r = d / 2
pi = 3.14

#Rumus Volume Kerucut = 1/3 x pi x r**2 x t
volume = (1/3) * pi * (r ** 2) * t

print("Volume Kerucut =", volume)

Volume kerucut =: 26.166666666666664

In [ ]:
def swap(x, y):
    # Membuat list piring dengan 3 elemen
    piring = [x, y, ""]

    # Menukar nilai x dan y
    piring[0] = y
    piring[1] = x

    # Mengosongkan piring ke-3
    piring[2] = ""

    # Menampilkan isi setiap piring
    for i in range(len(piring)):
        print("piring", i+1, "=", str(piring[i]))

x = "manggis"
y = "pisang"

print("piring 1 =", x)
print("piring 2 =", y)
print("piring 3 = ")

print("\nHasil penukaran:")
swap(x, y)

piring 1 = manggis
piring 2 = pisang
piring 3 =

Hasil penukaran:
piring 1 = pisang
piring 2 = manggis
piring 3 =

In [ ]:
#Diketahui
p = 5
t = 3

#Rumus Luas Jajar Genjang = Panjang x Tinggi
luas = p * t
print("Luas Jajar Genjang = ", luas)

Luas Jajar Genjang =  15

In [ ]:
#Diketahui
a = 25
t = 30

#Rumus Luas Segitiga = 1/2 x alas x tinggi
luas = 1/2 * a * t
print("Luas Segitiga = ", luas)

Luas Segitiga =  375.0

In [ ]:
#Diketahui
r = 3
t = 5
pi = 3.14

#Rumus Volume Tabung = pi * r**2 * t
volume = 3.14 * r**2 * t
print("Volume Tabung = ", volume)

Volume Tabung =  141.3

In [ ]:
def kpk(a, b):
    if a > b:
        terbesar = a
    else:
        terbesar = b

    while True:
        if terbesar % a == 0 and terbesar % b == 0:
            kpk = terbesar
            break
        terbesar += 1

    return kpk
a = 3
b = 4
kpk = kpk(a, b)
print("KPK dari", a, "dan", b, "yaitu", kpk)

KPK dari 3 dan 4 yaitu 12

#PERTEMUAN 2 6-September-2023

In [ ]:
import numpy as np
a = [1, 2, 3]
b = [4, 5, 6]

hasil = a + b
print(hasil)

[1, 2, 3, 4, 5, 6]

In [ ]:
import numpy as np
#membuat array
nilai_siswa = np.array([85, 55, 40, 90])#size dikurangi 1

#mengakses data pada array
print(nilai_siswa[3])

90

In [ ]:
import numpy as np
def add(list_a, list_b):
  result = []
  for first, second in zip(list_a, list_b):
    result.append(first+second)
    return result

In [ ]:
import numpy as np
print(np.__version__)

1.23.5

#Big O Notation
##Constant time (O(1)) Complexity
###Big O Notation

In [ ]:
print("Hellow, World!")
print("Nama saya (Daffa Junichi Rahadi)")
print("NIM saya (2022071005)")

Hellow, World!
Nama saya (Daffa Junichi Rahadi)
NIM saya (2022071005)

In [ ]:
import numpy as np

if 5>2:
  print("Five is greater than two!")

Five is greater than two!

In [ ]:
import numpy as np

x = 5
y = "John"

print(x)
print(y)

5
John

In [ ]:
import numpy as np

x = 4
x = "Sally"
print(x)

Sally

In [ ]:
import numpy as np

def getFirst(myList):
  return myList[0]

In [ ]:
getFirst([1,2,3])

1

In [ ]:
import numpy as np

def getSecond(myList):
  return myList[1]

In [ ]:
getSecond([1,2,3])

2

In [ ]:
import numpy as np

def getLast(myList):
  return myList[len(myList)-1] #myList[len(myList)]-1 untuk mencari hasil terakhir

In [ ]:
getLast([1,2,3])

3

In [ ]:
getLast([1,2,3,4,5,6,7,8,9,10])

10

In [3]:
def getSum(myList):
  sum = 0
  for item in myList:
    sum = sum+item #mencari pertambahan
  return sum

In [ ]:
getSum([20,2])

22

In [ ]:
def getKali(myList):
  kali = 1
  for item in myList:
    kali  = kali*item #mencari perkalian
  return kali

In [ ]:
getKali([5,2])

10

In [ ]:
def getBagi(myList):
  bagi = 1
  for item in myList:
    bagi  = bagi/item #mencari pembagian
  return bagi #ngebaginya ampe abis

In [ ]:
getBagi([25,5,5,3])

0.0005333333333333334

In [ ]:
def getAvg(mylist):
  return getSum(mylist) / len(mylist)
getAvg([1,2,3,4])#Nilai Rata-rata

2.5

In [ ]:
import numpy as np
a = [1,2,3]
b = [4,5,6]

def kurang(list_a, list_b):
  result = []
  for first, second in zip(list_a, list_b):
    result.append(first - second)
  return result
kurang(a,b)

[-3, -3, -3]

In [1]:
x = ([1,2,3,4,5])
y = ([1,2,3,4,5])
hasil = sum(x) / sum(y)
print(hasil)

1.0

In [4]:
def kurang(list_a, list_b):
  return getSum(list_a) - getSum(list_b)

kurang([1,2,3,4],[5,6,7,8])

-16

In [5]:
def bagi(list_a, list_b):
  return getSum(list_a) / getSum(list_b)

bagi([1,2,3,4],[5,6,7,8])

0.38461538461538464